
@font-face {
    font-family: 'din_otlight';
    src: url('../fonts/dinot-light-webfont.eot');
    src: url('../fonts/dinot-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinot-light-webfont.woff2') format('woff2'),
         url('../fonts/dinot-light-webfont.woff') format('woff'),
         url('../fonts/dinot-light-webfont.ttf') format('truetype'),
         url('../fonts/dinot-light-webfont.svg#din_otlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: "din_otbold";
	src: url("../fonts/dinot-bold.eot");
	src: url("../fonts/dinot-bold.eot#iefix") format("embedded-opentype"),
	       url("../fonts/dinot-bold.woff") format("woff"),
	       url("../fonts/dinot-bold.ttf") format("truetype"),
	       url("../fonts/dinot-bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'din_otblack';
    src: url('../fonts/dinot-black-webfont.eot');
    src: url('../fonts/dinot-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinot-black-webfont.woff2') format('woff2'),
         url('../fonts/dinot-black-webfont.woff') format('woff'),
         url('../fonts/dinot-black-webfont.ttf') format('truetype'),
         url('../fonts/dinot-black-webfont.svg#din_otblack') format('svg');
    font-weight: normal;
    font-style: normal;

}