/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/_reset.scss */
body {
  line-height: 1; }

/* line 34, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 41, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 45, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'din_otlight';
  src: url('../fonts/dinot-light-webfont.eot');
  src: url('../fonts/dinot-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dinot-light-webfont.woff2') format('woff2'), url('../fonts/dinot-light-webfont.woff') format('woff'), url('../fonts/dinot-light-webfont.ttf') format('truetype'), url('../fonts/dinot-light-webfont.svg#din_otlight') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "din_otbold";
  src: url("../fonts/dinot-bold.eot");
  src: url("../fonts/dinot-bold.eot#iefix") format("embedded-opentype"), url("../fonts/dinot-bold.woff") format("woff"), url("../fonts/dinot-bold.ttf") format("truetype"), url("../fonts/dinot-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'din_otblack';
  src: url('../fonts/dinot-black-webfont.eot');
  src: url('../fonts/dinot-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dinot-black-webfont.woff2') format('woff2'), url('../fonts/dinot-black-webfont.woff') format('woff'), url('../fonts/dinot-black-webfont.ttf') format('truetype'), url('../fonts/dinot-black-webfont.svg#din_otblack') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 3, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
body {
  font-family: "din_otlight", sans-serif;
  background: #ffffff; }

/* line 14, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
#container {
  width: 70%;
  max-width: 1300px;
  margin: 0 auto; }

/* clearfix */
/* line 21, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
#container:after {
  content: '';
  display: block;
  clear: both; }

/* line 27, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
.item {
  width: 40%;
  height: auto;
  float: left;
  position: relative;
  z-index: 0;
  overflow: hidden; }
  /* line 34, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
  .item img {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    filter: blur(0px);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    cursor: pointer; }
    /* line 44, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
    .item img:hover {
      opacity: 0.7;
      transform: scale(1.1);
      -ms-transform: scale(1.1);
      /* IE 9 */
      -moz-transform: scale(1.1);
      /* Firefox */
      -webkit-transform: scale(1.1);
      /* Safari and Chrome */
      -o-transform: scale(1.1);
      /* Opera */
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px); }
  /* line 66, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
  .item a {
    text-decoration: none;
    color: #2c2c2c; }
  /* line 70, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
  .item p {
    background: rgba(255, 255, 255, 0.85);
    font-size: 1.1em;
    padding: 10px;
    position: absolute;
    bottom: -100px;
    opacity: 0;
    line-height: 1.4;
    transition: all 0.3s ease-in-out; }
    /* line 80, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
    .item p span {
      font-size: 16px;
      display: block;
      font-family: 'din_otbold';
      text-transform: uppercase;
      margin-bottom: 5px; }
  /* line 89, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
  .item:hover p {
    bottom: 0;
    opacity: 1; }

/* line 96, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
.item.w2 {
  width: 20%; }

/* line 100, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
.item.w3 {
  width: 50%; }

/* line 104, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
.item.w4 {
  width: 80%; }

/* line 108, /Users/geoffroy.gaborieau/dev/qb_showcase-gallery/css/app.scss */
.item.gigante {
  width: 100%;
  height: auto; }

/*# sourceMappingURL=app.css.map */