@import 'reset';
@import 'fonts';
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "din_otlight", sans-serif;
    background: #ffffff;
}

#container {
    width: 70%;
    max-width: 1300px;
    margin: 0 auto;
}
/* clearfix */

#container:after {
    content: '';
    display: block;
    clear: both;
}

.item {
    width: 40%;
    height: auto;
    float: left;
    position: relative;
    z-index: 0;
    overflow: hidden;
    img {
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        height: auto;
        filter: blur(0px);
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        //        transition: blur 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
            transform: scale(1.1);
            -ms-transform: scale(1.1);
            /* IE 9 */
            
            -moz-transform: scale(1.1);
            /* Firefox */
            
            -webkit-transform: scale(1.1);
            /* Safari and Chrome */
            
            -o-transform: scale(1.1);
            /* Opera */
            
            -webkit-filter: blur(2px);
            -moz-filter: blur(2px);
            -o-filter: blur(2px);
            -ms-filter: blur(2px);
            filter: blur(2px);
        }
    }
    a {
        text-decoration: none;
        color: #2c2c2c;
    }
    p {
        background: rgba(255, 255, 255, 0.85);
        font-size: 1.1em;
        padding: 10px;
        position: absolute;
        bottom: -100px;
        opacity: 0;
        line-height: 1.4;
        transition: all 0.3s ease-in-out;
        
        span{
             font-size: 16px;
            display: block;
            font-family: 'din_otbold';
            text-transform: uppercase;
            margin-bottom: 5px;
        }
    }
    &:hover {
        p {
            bottom: 0;
            opacity: 1;
        }
    }
}

.item.w2 {
    width: 20%;
}

.item.w3 {
    width: 50%;
}

.item.w4 {
    width: 80%;
}

.item.gigante {
    width: 100%;
    height: auto;
}